]=Izberi ukazno vrstico
Comment[sq]=Përdorni rreshtin e urdhrave
Comment[sr]=Користите линију наредби
Comment[sv]=Använd kommandoraden
Comment[te]=ఆదేశపంక్తిని ఉపయోగించండి
Comment[th]=ใช้บรรทัดคำสั่ง
Comment[tr]=Komut satırını kullan
Comment[ug]=بۇيرۇق قۇرىنى ئىشلىتىدۇ
Comment[uk]=Використовуєте командну стрічку
Comment[vi]=Sử dụng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_HK]=使用指令列
Comment[zh_TW]=使用指令列
